.post {
    max-width: 900px;
    margin: 0 auto;
}

.post h2 {
    font-size: 40px;
    margin-bottom: 26px;
}

.post-image {
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 36px;
    margin-bottom: 40px;
}

.post-text {
    font-size: 19px;
    line-height: 1.8;
    color: #333;
}
