.post h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.post-image {
    width: 100%;
    max-width: 800px;
    border-radius: 28px;
    margin-bottom: 30px;
}

.post-text {
    font-size: 18px;
    line-height: 1.7;
    color: #444;
}